<div class="mt-5">

  <div class="mb-4">
<!--    <input type="text"-->
<!--    placeholder="Filtrer un utilisateur par nom ou prénom"-->
<!--    class="input-group-text text-start"-->
<!--    size="100"-->
<!--    (input)="onInputSearchFilter($event)">-->

    <div class="form-outline mb-4" data-mdb-input-init>
      <input type="search" class="form-control" id="datatable-search-input" placeholder="Rechercher par nom" (input)="onInputSearchFilter($event)" size="100%">
      <!--    <label class="form-label" for="datatable-search-input">Search</label>-->
    </div>

    <button (click)="onClickAddUser(modalUserForm)" class="btn btn-outline-warning">Ajouter un client</button>
  </div>

<!--  <div class="input-group">-->
<!--    <div id="search-autocomplete" class="form-outline" data-mdb-input-init>-->
<!--      <input type="search" id="form1" class="form-control" />-->
<!--      <label class="form-label" for="form1">Search</label>-->
<!--    </div>-->
<!--    <button type="button" class="btn btn-primary" data-mdb-ripple-init>-->
<!--      <i class="fas fa-search"></i>-->
<!--    </button>-->
<!--  </div>-->



  </div>
  <ng-template #modalUserForm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-user-form">{{ selectedUserForEdition ? 'MODIFIER UN UTILISATEUR' : 'AJOUTER UN UTILISATEUR'}}</h4>
      <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title-user-form"
        (click)="modal.dismiss('cross')"
      ></button>
    </div>
    <div class="modal-body">
      <form *ngIf="userForm" [formGroup]="userForm">

        <div class="form-floating mt-2">
          <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" formControlName="email">
          <label for="floatingEmail">Email address</label>
          <app-form-errors [group]="userForm" controlName="email" controlLabel="Email">

          </app-form-errors>
        </div>

        <div class="form-floating mt-2">
          <input type="text" class="form-control" id="floatingFirstname" placeholder="Robert" formControlName="firstname">
          <label for="floatingFirstname">Firstname</label>
          <app-form-errors [group]="userForm"  controlName="firstname" controlLabel="Prénom">

          </app-form-errors>
        </div>

        <div class="form-floating mt-2">
          <input type="text" class="form-control" id="floatingLastname" placeholder="DUPONT" formControlName="lastname">
          <label for="floatingLastname">Lastname</label>
          <app-form-errors [group]="userForm"  controlName="lastname" controlLabel="Nom">

          </app-form-errors>
        </div>

        <div class="form-floating mt-2">
          <input type="number" class="form-control" id="floatingStreetNumber" placeholder="Numéro de rue" formControlName="street_number">
          <label for="floatingStreetNumber">Numéro voie :</label>
          <app-form-errors [group]="userForm" controlName="street_number" controlLabel="Numero de rue"></app-form-errors>
        </div>

        <div class="form-floating mt-2">
          <input type="text" class="form-control" id="floatingStreetName" placeholder="Nom de rue/voie" formControlName="street_name">
          <label for="floatingStreetName">Nom de rue</label>
          <app-form-errors [group]="userForm" controlName="street_name" controlLabel="Nom de rue"></app-form-errors>
        </div>


        <div class="form-floating mt-2">
          <select class="form-select" id="floatingCountry" formControlName="country">
            <option *ngFor="let country of countries | keyvalue"
                    [value]="country.value"
            >{{country.key}}</option>
          </select>
          <label for="floatingCountry">Country</label>
          <app-form-errors [group]="userForm"  controlName="country" controlLabel="Pays">

          </app-form-errors>
        </div>

        <div class="form-floating mt-2">
          <input type="text" class="form-control" id="floatingZipcode" placeholder="Code Postal" formControlName="zip_code">
          <label for="floatingZipcode">Code postal :</label>
          <app-form-errors [group]="userForm" controlName="zip_code" controlLabel="Code postal"></app-form-errors>
        </div>

        <div class="form-floating mt-2">
          <input type="password" class="form-control" id="floatingPassword" placeholder="******" formControlName="password">
          <label for="floatingPassword">Password</label>
          <app-form-errors [group]="userForm"  controlName="password" controlLabel="Mot de passe">

          </app-form-errors>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Annuler</button>
      <button type="button" class="btn btn-dark"
              [disabled]="userForm && userForm.invalid"
              (click)="onSubmitUserForm(modal)">{{selectedUserForEdition ? 'Modifier' : 'Ajouter'}}</button>
    </div>
  </ng-template>

<div class="card mt-2" *ngFor="let user of users$ | async">
<!--  <span *ngFor=" let role of roles | async"></span>-->
  <div class="card-header">
    <h5>Fiche client : {{user.fullname}}</h5>
  </div>
  <div class="card-body">
    <p class="card-title"><span class="label">Role : </span><span><ng-container *ngFor="let role of user.roles; last as isLast">{{isLast ? ' ' + role.roleName : ' ' + role.roleName +  ' -'}}</ng-container></span>
    <p class="card-text"><span class="label"> Mail : </span>{{user.email}}</p>
    <p class="card-text"><span class="label"> Adresse : </span>{{user.street_number}} {{user.street_name}}</p>
    <p class="card-text">{{user.zip_code}} {{user.country}}</p>
    <div class="mt-4">
      <a [routerLink]="['/', 'users', user.id]"
         class="btn btn-outline-primary text-uppercase mx-2">
        <fa-icon class="me-1" [icon]="iconDetail"></fa-icon>
        DÉTAILS
      </a>
      <button (click)="onClickEditUser(modalUserForm, user)"
              class="btn btn-outline-warning text-uppercase mx-2">
        <fa-icon class="me-1" [icon]="iconEdit"></fa-icon>
        ÉDITER
      </button>
      <button (click)="onClickDeleteUser(modalDeleteUser, user)"
              class="btn btn-outline-danger text-uppercase mx-2">
        <fa-icon class="me-1" [icon]="iconTrash"></fa-icon>
        SUPPRIMER
      </button>
    </div>
  </div>
</div>

<!--<table class="table ">-->
<!--  <thead class="table-secondary">-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Email</th>-->
<!--    <th>Fullname</th>-->
<!--    <th>adress</th>-->
<!--    <th>Actions</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let user of users$ | async">-->
<!--    <th scope="row">{{user.id}}</th>-->
<!--    <td>{{user.email}}</td>-->
<!--    <td>{{user.fullname}}</td>-->
<!--    <td>{{user.street_name}}</td>-->
<!--    <td>-->
<!--      <a [routerLink]="['/', 'users', user.id]"-->
<!--         class="btn btn-outline-primary text-uppercase mx-2">-->
<!--        DÉTAILS-->
<!--      </a>-->
<!--      <button (click)="onClickEditUser(modalUserForm, user)"-->
<!--        class="btn btn-outline-warning text-uppercase mx-2">-->
<!--        ÉDITER-->
<!--      </button>-->
<!--      <button (click)="onClickDeleteUser(modalDeleteUser, user)"-->
<!--        class="btn btn-outline-danger text-uppercase mx-2">-->
<!--        SUPPR.-->
<!--      </button>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<ngb-toast
  *ngIf="showDeleteSuccessToast"
  class="position-fixed top-0 end-0 p-1 m-3 bg-success alert text-light"
  [autohide]="true"
[delay]="4000"
(hidden)="showDeleteSuccessToast = false">
  Suppression effectuée avec succès.
</ngb-toast>
<ng-template #modalDeleteUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Suppression utilisateur</h4>
    <button
      type="button"
      class="btn-close"
      aria-describedby="modal-title"
      (click)="modal.dismiss('cross')"
    ></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Étes-vous sûr de vouloir supprimer l'utilisateur
        <span class="text-secondary">{{selectedUserDeleteConfirmation?.fullname}}</span> ?</strong>
    </p>
    <p>
    <span class="text-danger">La suppression est irréversible.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Confirmer</button>
  </div>
</ng-template>



