<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          SUNSET
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a routerLink="/users" class="nav-link text-white">
              <fa-icon class="me-1" [icon]="iconHome"></fa-icon>
              Home
            </a>
          </li>
          <li *ngIf="isConnected$ | async">
            <button (click)="onClickSignOut()"  class="btn btn-outline-light">
              <fa-icon class="me-1" [icon]="iconSignOut"></fa-icon>
              Sign Out
            </button>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>
